{% extends "myapp/base.html" %}
{% load humanize %}
{% block content %}
<div class="">
  <form method="POST" class="shadow-lg m-10 rounded-lg">
    {% csrf_token %}
    <div class="form-container px-10 py-10 flex">
      {% for field in form %}
      <div class="mx-10">
        <div class="mb-5">
          <label for="">{{ field.label }}</label>
        </div>
        <div class="border">
          {{ field }}
        </div>
      </div>
      {% endfor %}
      <div class="mx-10 mt-2">
        <button class="bg-green-500 px-10 py-5 rounded-lg text-white font-bold">Submit</button>
      </div>
    </div>
  </form>

  <div class="">Expenses</div>
  <div class="border shadow-lg p-4 m-5 rounded-lg">

    <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Edit</th>
          <th>Del</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        <tr>
          <td>{{ expense.name }}</td>
          <td>{{ expense.amount|intcomma }}</td>
          <td>{{ expense.category }}</td>
          <td><a href="{% url 'edit' pk=expense.id %}">Edit</a></td>
          <td>
            <form action="{% url 'delete' pk=expense.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- display total -->
    <div class="px-7 mt-4">
      <span class="font-bold text-green-500">
        Total: Rs. {{ agg.sum|intcomma }} <br>
      </span>
    </div>

  </div>
</div>
<div class="flex">
  <div class="w-1/3 shadow-lg ml-10 rounded-lg">
    <h1 class="ml-10 font-bold text-gray-500">LAST 365 DAYS</h1>
    <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">{{ yearly_sum|intcomma }}</h1>
  </div>

  <div class="w-1/3 shadow-lg ml-10 rounded-lg">
    <h1 class="ml-10 font-bold text-gray-500">LAST 30 DAYS</h1>
    <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">{{ monthlys_sum|intcomma }}</h1>
  </div>

  <div class="w-1/3 shadow-lg ml-10 rounded-lg">
    <h1 class="ml-10 font-bold text-gray-500">LAST 7 DAYS</h1>
    <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">{{ weekly_sum|intcomma }}</h1>
  </div>
</div>
{% endblock content %}